{% extends 'base.html' %}

{% load static from staticfiles %}

{% block content %}
<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="breadcrumb">
					<li><a href="/"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
					<li class="active">Quienes Somos</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<section class="callaction">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="big-cta">
                    <div class="cta-text">
                        <h2>"Somos lo que hacemos día a día. De modo que la excelencia no es un acto sino un hábito."
                        <span>Aristóteles</span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>
                    En la experiencia adquirida durante 14 años en intervenciones realizadas en el ámbito de la
                    consulta privada
                    y en el área de RRHH, hemos podido confirmar la profunda incidencia que las Emociones tienen
                    en el comportamiento humano, constatando ampliamente como las mismas son capaces de potenciar
                    o limitar el desempeño de los individuos.
                </p>
                <p>
                    En ese recorrido nos hemos encontrado absolutamente deslumbradas por esa capacidad del
                    Ser Humano de modificar sus emociones para generar nuevas conductas. Y es, en esta comunión
                    de experiencias, que hemos decidido volcar los aprendizajes y conocimientos adquiridos en
                    la gestión de emociones inteligentes. Definimos como emociones inteligentes aquellas que apuntan
                    al mejoramiento en la calidad de vida de las personas mediante el desarrollo de la autoconciencia,
                    motivación, empatía, autocontrol, agilidad mental, reflexión crítica.
                </p>
                <p>
                    Bienvenidos a nuestra propuesta, la cual brindará un nuevo soporte profesional para la capacitación
                    y gestión de sus Recursos Humanos.
                </p>
                <p>
                    Lic. Casas & Esteban
                </p>
            </div>
        </div>
        <!-- divider -->
        <div class="row">
            <div class="col-lg-12">
                <div class="solidline">
                </div>
            </div>
        </div>
        <!-- end divider -->

    </div>
</section>
{% endblock %}