{% extends 'base.html' %}

{% load static from staticfiles %}

{% block content %}
{% include 'pages/breadcrumb.html' %}
{% include 'pages/quote.html' %}
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <h4>{{ object.headline }}</h4>
            </div>
            <div class="col-lg-6 lead">
                {{ object.content|safe }}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h4>Resúmenes de experiencia</h4>
            </div>
        </div>
        <div class="row experience">
            <div class="col-lg-6">
                {% include 'pages/olga.html' %}
            </div>
            <div class="col-lg-6">
                {% include 'pages/silvana.html' %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h4>Nuestros Clientes</h4>
            </div>
        </div>
        <div class="row clientes">
            <div class="col-lg-2">
                <img alt="Ministerio de Vivienda, Ordenamiento Territorial y Medioambiente"
                     src="{{ MEDIA_URL }}photos/logo-mvotma.png"/>
            </div>
            <div class="col-lg-2">
                <img alt="Ciemsa"
                     src="{{ MEDIA_URL }}photos/ciemsa.gif"/>
            </div>
            <div class="col-lg-2">
                <img alt="G4S"
                     src="{{ MEDIA_URL }}photos/g4s-logo.png"/>
            </div>
            <div class="col-lg-2">
                <img alt="Schandy"
                     src="{{ MEDIA_URL }}photos/schandy.png"/>
            </div>
            <div class="col-lg-2">
                <img alt="Republica Microfinanzas"
                     src="{{ MEDIA_URL }}photos/republica_microfinanzas.png"/>
            </div>
            <div class="col-lg-2">

            </div>
        </div>
        <!-- divider -->
        <div class="row">
            <div class="col-lg-12">
                <div class="solidline">
                </div>
            </div>
        </div>
        <!-- end divider -->

    </div>
</section>
{% endblock %}