{% extends 'base.html' %}

{% load static from staticfiles %}

{% block content %}
    <header>	<!-- Header Title Start -->
        <h1>{{ home.headline }}</h1>
        <h2>&ndash; {{ home.sub_headline }} &ndash;</h2>
    </header>	<!-- Header Title End -->
    <section id="slideshow">	<!-- Slideshow Start -->
        <div class="html_carousel">
            <div id="slider">
                {% for slide in home.carousel.image_set.all %}
                <div class="slide">
                    <img src="{{ slide.image.url }}" width="800" height="300" alt="image 1"/><!-- Replace these images with your own but make sure they are 3000px wide and 783px high or the same ration -->
                </div><!--/slide-->
                {% endfor %}
            </div><!--/slider-->
            <div class="clearfix"></div>
        </div><!--/html_carousel-->
    </section>	<!-- Slideshow End -->


    <aside id="about" class=" left"> <!-- Text Section Start -->
    	<h3>Quiénes Somos</h3><!-- Replace all text with what you want -->
    	<p>
            {{ home.about }}
    	</p>
    </aside>
    <aside class="right">
    	<h3>Nuestra Experiencia</h3>
    	<p>
            {{ home.work }}
    	</p>
    </aside>


    <div class="clearfix"></div> <!-- Text Section End -->

    <section id="work"> <!-- Work Links Section Start -->

        <div class="clearfix"></div>
    </section> <!-- Work Links Section End -->


    <section id="bottom"> <!-- Last Words Section Start -->
        <h3>Palabras Finales</h3>
        <p>
            {{ home.footer }}
    	</p>
    </section><!-- Last Words Section End-->
{% endblock %}