<h5>Lic. Olga Casas Gadea - Psicóloga</h5>
<div class="row">
    <div class="col-lg-3">
        Formación
    </div>
    <div class="col-lg-9 bordered-left small">
        <div class="row">
            <div class="col-lg-10">
                 Licenciatura en Psicología
            </div>
            <div class="col-lg-2 small">
                2000
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                 Diploma en RRHH - UCUDAL
            </div>
            <div class="col-lg-2 small">2005</div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                 Master en PNL
            </div>
            <div class="col-lg-2 small">2012</div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                 Profundización en herramientas de apoyo al Psicólogo en el ámbito de la Psicología del Trabajo. Nivel I y II Coordinadora de Psicólogos del Uruguay.
            </div>
            <div class="col-lg-2 small">2005-2006</div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                 Terapeuta Cognitivo-Conductual – Suatec
            </div>
            <div class="col-lg-2 small">2002</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        Experiencia Laboral
    </div>
    <div class="col-lg-9 bordered-left small">
        <div class="row">
            <div class="col-lg-9">
                <h6>Casas & Esteban</h6>
                Gestion y consultoria en RRHH.
            </div>
            <div class="col-lg-2 small">
                2011 - actualidad
            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <h6>Grupo 4</h6>
                Consultoria y selección de personal.
            </div>
            <div class="col-lg-2 small">2006 - 2009</div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <h6>CORBU SRL</h6>
                 Selección de personal para agencias de seguridad.
            </div>
            <div class="col-lg-2 small">2005 - actualidad</div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <h6>Consultorio privado</h6>
                Psicóloga clinica.
            </div>
            <div class="col-lg-2 small">2000 - actualidad</div>
        </div>
    </div>
</div>