<h5>Lic. Olga Casas Gadea - Psicóloga</h5>
<div class="row">
    <div class="col-lg-3">
        Formación
    </div>
    <div class="col-lg-9 bordered-left small">
        <div class="row">
            <div class="col-lg-10">
                 Licenciatura en Psicología - UDELAR
            </div>
            <div class="col-lg-2 small">

            </div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                 Diploma en RRHH - UCUDAL
            </div>
            <div class="col-lg-2 small"></div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                 Coach de Alta Performance
            </div>
            <div class="col-lg-2 small"></div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                 Master en PNL - IPPSO
            </div>
            <div class="col-lg-2 small"></div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                 Terapias de Avanzada - EMDR Institute
            </div>
            <div class="col-lg-2 small"></div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                 Profundización en herramientas de apoyo al Psicólogo en el ámbito de la Psicología del Trabajo. Nivel I y II Coordinadora de Psicólogos del Uruguay.
            </div>
            <div class="col-lg-2 small"></div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                 Terapeuta Cognitivo-Conductual – Suatec
            </div>
            <div class="col-lg-2 small"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        Experiencia Laboral
    </div>
    <div class="col-lg-9 bordered-left small">
        <div class="row">
            <div class="col-lg-9">
                <h6>Casas & Esteban</h6>
                Gestión y consultoría en RRHH.
            </div>
            <div class="col-lg-2 small">

            </div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <h6>Grupo 4</h6>
                Consultoría y selección de personal.
            </div>
            <div class="col-lg-2 small"></div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <h6>CORBU SRL</h6>
                 Selección de personal para agencias de seguridad.
            </div>
            <div class="col-lg-2 small"></div>
        </div>
        <div class="row">
            <div class="col-lg-9">
                <h6>Consultorio privado</h6>
                Psicóloga clinica.
            </div>
            <div class="col-lg-2 small"></div>
        </div>
    </div>
</div>