<section class="callaction">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="big-cta">
                    <div class="cta-text">
                        <h2>{{ object.quote.quote}}
                            <span>{{ object.quote.author }}</span>
                        </h2>
                        <!--
                        <h2>"Somos lo que hacemos día a día. De modo que la excelencia no es un acto sino un hábito."
                            <span>Aristóteles</span>
                        </h2>
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
