<h5>Lic. Silvana Esteban - Psicóloga</h5>
<div class="row">
    <div class="col-lg-3">
        Formación
    </div>
    <div class="col-lg-9 bordered-left small">
        <div class="row">
            <div class="col-lg-10">
                 Licenciatura en Psicología - UDELAR
            </div>
            <div class="col-lg-2 small">

            </div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                 Diploma en RRHH - ORT
            </div>
            <div class="col-lg-2 small"></div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                 Practitioner PNL - Escuela de Programación Neurolingüística
            </div>
            <div class="col-lg-2 small"></div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                 Terapias de Avanzada - EMDR Institute
            </div>
            <div class="col-lg-2 small"></div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                 Profundización en herramientas de apoyo al Psicólogo en el ámbito de la Psicología del Trabajo. Nivel I y II Coordinadora de Psicólogos del Uruguay.
            </div>
            <div class="col-lg-2 small"></div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                 Terapeuta Cognitivo-Conductual – Suatec
            </div>
            <div class="col-lg-2 small"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        Experiencia Laboral
    </div>
    <div class="col-lg-9 bordered-left small">
        <div class="row">
            <div class="col-lg-10">
                <h6>Casas & Esteban</h6>
                Gestión y consultoría en RRHH.
            </div>
            <div class="col-lg-2 small">

            </div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                <h6>Young & Rubicam Brands</h6>
                Responsable RRHH
            </div>
            <div class="col-lg-2 small"></div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                <h6>DELOITTE SC</h6>
                 Selección de personal freelance.
            </div>
            <div class="col-lg-2 small"></div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                <h6>Instituto de Estudios Empresariales Crs. Perez y Pons</h6>
                 Psicóloga laboral
            </div>
            <div class="col-lg-2 small"></div>
        </div>
        <div class="row">
            <div class="col-lg-10">
                <h6>Consultorio privado</h6>
                Psicóloga clinica.
            </div>
            <div class="col-lg-2 small"></div>
        </div>
    </div>
</div>
