{% extends 'base.html' %}

{% load static from staticfiles %}

{% block content %}
<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="breadcrumb">
					<li><a href="/"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
					<li class="active">Areas de Trabajo</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<section class="callaction">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="big-cta">
                    <div class="cta-text">
                        <h2>"Somos lo que hacemos día a día. De modo que la excelencia no es un acto sino un hábito."
                        <span>Aristóteles</span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>Lograr que sus colaboradores se sientan alineados con la empresa y comprometidos con la misma depende
                    de varios aspectos. En primer lugar, el grado de conformidad de la persona con la
                    remuneración salarial que percibe es clave, mientras que para los trabajadores será casi
                    tan importante e incluso en algunos casos darán mayor relevancia el sentirse reconocidas, apoyadas
                    y estimuladas por la organización. Estos tres factores variarán de acuerdo a las diferentes etapas
                    por las cuales los individuos transitan a lo largo de su vida y están tendrán una influencia
                    directa sobre la motivación laboral. Por tanto, sería deseable, así como estratégico, que las
                    políticas de recursos humanos se trazaran de acuerdo a dichos parámetros.

                    Conocer sus Recursos Humanos y disponer de información calificada acerca de la incidencia de
                    los factores psicosociales en el trabajo se transforma en una de las claves que optimiza el
                    logro de los objetivos organizacionales. En la medida que la empresa busque motivar a sus
                    trabajadores en función de los mismos, es altamente probable que aumente el grado de
                    satisfacción y compromiso del colaborador con la organización, con su posición y con sus compañeros.
                    Al mismo tiempo, ofrecer a los trabajadores la capacitación específica para desarrollar su
                    función con eficacia, podrá traducirse en motivación para la persona y eficiencia para la empresa.
                    El concepto de capacitación abarca no sólo la formación profesional y/o técnica, sino
                    también sobre el desarrollo de un repertorio conductual más amplio en donde prevalezcan y
                    resalten las emociones positivas e inteligentes.

                    Esa será nuestra misión: colaborar en la gestión de los recursos humanos, haciendo posible el
                    desarrollo de habilidades que realzan el desempeño laboral y personal.
                </p>
            </div>
        </div>
        <!-- divider -->
        <div class="row">
            <div class="col-lg-12">
                <div class="solidline">
                </div>
            </div>
        </div>
        <!-- end divider -->

    </div>
</section>
{% endblock %}