{% extends 'base.html' %}

{% load static from staticfiles %}

{% block content %}
{% include 'pages/breadcrumb.html' %}
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <h4>{{ object.headline }}</h4>
            </div>
            <div class="col-lg-7">
                <p class="lead">
                    {{ object.content|safe }}
                </p>
            </div>
        </div>        <!-- divider -->
        <div class="row">
            <div class="col-lg-10 col-lg-offset-2">
                {% for workshop_tuple in object.get_workshop_tuples %}
                    <div class="row">
                        {% for workshop in workshop_tuple %}
                        {% if workshop %}
                        <div class="col-lg-4">
                            <div class="box">
                                <div class="box-gray aligncenter">
                                    <h4>{{ workshop.name }}</h4>
                                    <p>
                                        {{ workshop.description|safe|truncatechars:120 }}
                                    </p>
                                </div>
                                <div class="box-bottom">
                                    <a href="/workshops/{{ workshop.slug }}">Ver más</a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="solidline">
                </div>
            </div>
        </div>
        <!-- end divider -->

    </div>
</section>
{% endblock %}