{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block page-title %}Casas y Esteban{% endblock %}</title>
        <meta charset="utf-8">
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="description"
              content="{% block meta_description %}Sitio institucional de Casas & Esteban{% endblock %}">
        <meta name="author" content="">
        <link rel="icon" type="image/png" href="" />
        {% block css %}
        <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700|Cookie' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        {% endblock %}
    </head>

    <body>
        <div class="wrapper">
	        <div id="top">
                <div id="logo">
                    <img id="logoimage" src="images/logo.png" alt="logo">	<!-- Logo image -->
                        <h1 id="logotitle">Casas y Esteban</h1>	<!-- Logo text -->
                </div><!--/logo-->

                <nav>	<!-- Navigation Start -->
                    <ul>
                        <li><a href="#top">Inicio</a></li>
                        <li><a href="#about">Sobre Nosotros</a></li>
                        <li><a href="#work">Experiencia</a></li>
                        <li><a href="#footer">Contacto</a></li>
                    </ul>
                </nav>	<!-- Navigation End -->
            </div><!--/top-->

            <hr/><!-- Horizontal Line -->


            <header>	<!-- Header Title Start -->
                <h1>Bienvenido a nuestro sitio web institucional</h1>
                <h2>&ndash; Consultoría en recursos humanos &ndash;</h2>
            </header>	<!-- Header Title End -->
            <section id="slideshow">	<!-- Slideshow Start -->
                <div class="html_carousel">
                    <div id="slider">

                        <div class="slide">
                            <img src="{% static 'img/home_a.jpg' %}" width="3000" height="783" alt="image 1"/><!-- Replace these images with your own but make sure they are 3000px wide and 783px high or the same ration -->
                        </div><!--/slide-->

                    </div><!--/slider-->
                    <div class="clearfix"></div>
                </div><!--/html_carousel-->
            </section>	<!-- Slideshow End -->


            <aside id="about" class=" left"> <!-- Text Section Start -->
                <h3>about me</h3><!-- Replace all text with what you want -->
                <p>Hey there, my name is &quot;Your Name&quot; and I am a photographer and web developer! This is my brand new portfolio. It's super cool because it's completely responsive! That means you can re-size it to whatever size you like and it always looks great. Have a look around and enjoy.</p>
            </aside>
            <aside class="right">
                <h3>my work</h3>
                <p>Below, you will be able to find lots of my work. I take loads of pretty pictures and I also make websites. If you like what you see then you can contact me below! Maybe you would like to hire me or just have a chat, either way, I look forward to hearing from you.</p>
            </aside>
            <div class="clearfix"></div> <!-- Text Section End -->


            <section id="work"> <!-- Work Links Section Start -->
                <div class="item">
                    <a href="work-template.html"><img src="images/work/thumbs/item.png" alt="image 1"></a><!-- Image must be 400px by 300px -->
                    <h3>Skies Of Spain</h3><!--Title-->
                    <p>photography</p><!--Category-->
                </div><!--/item-->

                <div class="item">
                    <a href="work-template.html"><img src="images/work/thumbs/item2.png" alt="image 2"></a><!-- Image must be 400px by 300px -->
                    <h3>Beautiful Bahrain</h3><!--Title-->
                    <p>photography</p><!--Category-->
                </div><!--/item-->

                <div class="item">
                    <a href="work-template.html"><img src="images/work/thumbs/item3.png" alt="image 3"></a><!-- Image must be 400px by 300px -->
                    <h3>Wild Stripes</h3><!--Title-->
                    <p>photo manipulation</p><!--Category-->
                </div><!--/item-->

                <div class="item">
                    <a href="work-template.html"><img src="images/work/thumbs/item4.png" alt="image 4"></a><!-- Image must be 400px by 300px -->
                    <h3>Lazy Days</h3><!--Title-->
                    <p>photo manipulation</p><!--Category-->
                </div><!--/item-->

                <div class="item">
                    <a href="work-template.html"><img src="images/work/thumbs/item5.png" alt="image 5"></a><!-- Image must be 400px by 300px -->
                    <h3>Trapped</h3><!--Title-->
                    <p>photography</p><!--Category-->
                </div><!--/item-->

                    <div class="item">
                    <a href="work-template.html"><img src="images/work/thumbs/item6.png" alt="image 6"></a><!-- Image must be 400px by 300px -->
                    <h3>Quad-Core</h3><!--Title-->
                    <p>photography</p><!--Category-->
                </div><!--/item-->

                <div class="item">
                    <a href="work-template.html"><img src="images/work/thumbs/item7.png" alt="image 7"></a><!-- Image must be 400px by 300px -->
                    <h3>Retro Blast</h3><!--Title-->
                    <p>illustration</p><!--Category-->
                </div><!--/item-->

                <div class="item">
                    <a href="work-template.html"><img src="images/work/thumbs/item8.png" alt="image 8"></a><!-- Image must be 400px by 300px -->
                    <h3>Gates Of The Sun</h3><!--Title-->
                    <p>photography</p><!--Category-->
                </div><!--/item-->

                <div class="item">
                    <a href="work-template.html"><img src="images/work/thumbs/item9.png" alt="image 9"></a><!-- Image must be 400px by 300px -->
                    <h3>Winter Touch</h3><!--Title-->
                    <p>photography</p><!--Category-->
                </div><!--/item-->

                 <div class="item">
                    <a href="work-template.html"><img src="images/work/thumbs/item10.png" alt="image 10"></a><!-- Image must be 400px by 300px -->
                    <h3>Burn</h3><!--Title-->
                    <p>photo manipulation</p><!--Category-->
                </div><!--/item-->

                <div class="clearfix"></div>
            </section> <!-- Work Links Section End -->


            <section id="bottom"> <!-- Last Words Section Start -->
                <h3>Thanks for looking at my new website!</h3>
            </section><!-- Last Words Section End-->
        </div>

        <footer id="footer">
            <div class="wrapper">
                <section class="left">
                <h4>Contact</h4>
                    <div id="formwrap">
                        <form method="post" id="submitform" action="submitemail.php" >
                                    <input type="text" class="formstyle" title="Name" name="name" />
                                    <input type="text" class="formstyle" title="Email" name="email" />
                                    <textarea name="message" title="Message"></textarea>
                                    <input class="formstyletwo" type="submit" value="Send">
                        </form>
                    </div>
                    <div id="error"></div>
                </section>

        <!-- DON'T TOUCH THIS SECTION END -->

                <section class="right social"> <!-- Social Icons Start -->
                <a href="http://plus.google.co.uk"><img class="icon" src="images/icons/google.png" width="32" height="32" alt="google"></a><!-- Replace with any 32px x 32px icons -->
                <a href="http://youtube.com"><img class="icon" src="images/icons/youtube.png" width="32" height="32" alt="youtube"></a><!-- Replace with any 32px x 32px icons -->
                <a href="http://facebook.com"><img class="icon" src="images/icons/facebook.png" width="32" height="32" alt="facebook"></a><!-- Replace with any 32px x 32px icons -->
                <a href="http://twitter.com"><img class="icon" src="images/icons/twitter.png" width="32" height="32" alt="twitter"></a><!-- Replace with any 32px x 32px icons -->
                </section> <!-- Social Icons End -->
                <p>lets get social - </p>
                </section> <!-- Social Icons End -->
            </div>
            <div class="clearfix"></div>
        </footer>
        <!--[if lt IE 9]>
            <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
        <![endif]-->
        {% block js-foot %}
        {% endblock js-foot %}
    </body>
</html>
