{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block page-title %}Casas y Esteban{% endblock %}</title></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="author" content="http://bootstraptaste.com" />
        {% block css %}
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
        <link href="{% static 'css/fancybox/jquery.fancybox.css' %}" rel="stylesheet">
        <link href="{% static 'css/flexslider.css' %}" rel="stylesheet" />
        <link href="{% static 'css/style.css' %}" rel="stylesheet" />
        <!-- Theme skin -->
        <link href="{% static 'skins/default.css' %}" rel="stylesheet" />
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        {% endblock %}
    </head>
    {% block body %}
    <body>
        <div id="wrapper">
            <!-- start header -->
            <header class="transparent fixed">
                <div class="navbar navbar-default navbar-static-top">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/"><span>C</span>asas y <span>E</span>steban</a>
                        </div>
                        <div class="navbar-collapse collapse ">
                            <ul class="nav navbar-nav">
                                <li class="{{ active.home }}"><a href="/">Home</a></li>
                                <li class="{{ active.about }}"><a href="/about">Quienes Somos</a></li>
                                <li class="{{ active.work }}"><a href="/work">Areas de Trabajo</a></li>
                                <li class="{{ active.consultancy }}"><a href="/consultancy">Consultoria</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle "
                                       data-toggle="dropdown"
                                       data-hover="dropdown"
                                       data-delay="0"
                                       data-close-others="false">Talleres
                                        <b class=" icon-angle-down"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/workshops/effective-communication">Comunicacion Efectiva</a></li>
                                        <li><a href="/workshops/anger-management">Autoregulacion del Enojo</a></li>
                                        <li><a href="/workshops/stress-management">Manejo del Estres</a></li>
                                        <li><a href="/workshops/motivation">Motivacion</a></li>
                                        <li><a href="/workshops/how-to-be-an-efficient-leader">
                                            Como ser un Lider Eficiente</a>
                                        </li>
                                        <li><a href="/workshops/coaching">Coaching personal o grupal</a></li>

                                    </ul>
                                </li>
                                <li class="{{ active.contact }}"><a href="/contact">Contacto</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>
            <!-- end header -->
            {% block content %}
            {% endblock %}
            <footer>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="widget">
                                <h5 class="widgetheading">Pongase en contacto</h5>
                                <p>
                                    <h6>Licenciada Olga Casas</h6>
                                    <i class="icon-phone"></i> 5555555 <br>
                                    <i class="icon-envelope-alt"></i> contacto@casasyesteban.com
                                </p>
                                <p>
                                    <h6>Licenciada Silvana Esteban</h6>
                                    <i class="icon-phone"></i> 5555555 <br>
                                    <i class="icon-envelope-alt"></i> contacto@casasyesteban.com
                                </p>
                                <ul class="social-network">
                                    <li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="widget">
                                <h5 class="widgetheading">Paginas</h5>
                                <ul class="link-list">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/about">Quienes Somos</a></li>
                                    <li><a href="/work">Areas de Trabajo</a></li>
                                    <li><a href="/consultancy">Consultoria</a></li>
                                    <li>Talleres</li>
                                    <ul>
                                        <li><a href="/workshops/effective-communication">Comunicacion Efectiva</a></li>
                                        <li><a href="/workshops/anger-management">Autoregulacion del Enojo</a></li>
                                        <li><a href="/workshops/stress-management">Manejo del Estres</a></li>
                                        <li><a href="/workshops/motivation">Motivacion</a></li>
                                        <li><a href="/workshops/how-to-be-an-efficient-leader">
                                            Como ser un Lider Eficiente</a>
                                        </li>
                                        <li><a href="/workshops/coaching">Coaching personal o grupal</a></li>
                                    </ul>
                                </li>
                                <li class=""><a href="/contact">Contacto</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
        <!-- javascript
            ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{% static 'js/jquery.js' %}"></script>
        <script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/jquery.fancybox.pack.js' %}"></script>
        <script src="{% static 'js/jquery.fancybox-media.js' %}"></script>
        <script src="{% static 'js/google-code-prettify/prettify.js' %}"></script>
        <script src="{% static 'js/portfolio/jquery.quicksand.js' %}"></script>
        <script src="{% static 'js/portfolio/setting.js' %}"></script>
        <script src="{% static 'js/jquery.flexslider.js' %}"></script>
        <script src="{% static 'js/animate.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
    </body>
    {% endblock %}
</html>